<h1>
  Quiz #<%= @the_quiz.id %> details
</h1>

<article>
  <div>
    <a href="/quizzes">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_quiz/<%= @the_quiz.id %>">
      Delete quiz
    </a>
  </div>
  <dl>
    <dt>
      Topic
    </dt>
    <dd>
      <%= @the_quiz.topic %>
    </dd>

    <dt>
      User
    </dt>
    <dd>
      <%= @the_quiz.user_id %>
    </dd>

    <dt>
      Score
    </dt>
    <dd>
      <%= @the_quiz.score %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_quiz.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_quiz.updated_at) %> ago
    </dd>
  </dl>
</article>
