<nav aria-label="breadcrumb">
  <ul>
    <li>
      <a href="/">
        <%= current_user.username %>'s quizzes
      </a>
    </li>
    <li>
      <%= @the_quiz.topic %>
    </li>
  </ul>
</nav>

<article>
  <div>
    <a href="/delete_quiz/<%= @the_quiz.id %>">
      Delete quiz
    </a>
  </div>
  <dl>
    <dt>
      Topic
    </dt>
    <dd>
      <%= @the_quiz.topic %>
    </dd>

    <dt>
      Score
    </dt>
    <dd>
      <%= @the_quiz.score %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_quiz.created_at) %> ago
    </dd>
  </dl>
</article>

<article>
  <ul>
    <% existing_messages = @the_quiz.messages.order(:created_at) %>

    <% existing_messages.each do |something| %>
      <li>
        <dl>
          <dt>
            <% if something.role == "system" %>
              🎩 system
            <% elsif something.role == "assistant" %>
              🤖 assistant
            <% elsif something.role == "user" %>
              👤 <%= current_user.username %>
            <% end %>
          </dt>
          <dd>
            <%= something.content %>
          </dd>
        </dl>
      </li>
    <% end %>

    <li>
      <form action="/insert_message" method="post">

        <input type="hidden" id="quiz_id_box" name="query_quiz_id" value="<%= @the_quiz.id %>">

        <div>
          <label for="content_box" class="visually-hidden">
            Content
          </label>

          <textarea id="content_box" name="query_content"></textarea>
        </div>

        <button type="submit">
          Respond
        </button>
      </form>
    </li>
  </ul>
</article>
