<h1>
  Message #<%= @the_message.id %> details
</h1>

<article>
  <div>
    <a href="/messages">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_message/<%= @the_message.id %>">
      Delete message
    </a>
  </div>
  <dl>
    <dt>
      Quiz
    </dt>
    <dd>
      <%= @the_message.quiz_id %>
    </dd>

    <dt>
      Content
    </dt>
    <dd>
      <%= @the_message.content %>
    </dd>

    <dt>
      Role
    </dt>
    <dd>
      <%= @the_message.role %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_message.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_message.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit message
    </h2>
  </header>

  <form action="/modify_message/<%= @the_message.id %>"  method="post" >
    <div>
      <label for="quiz_id_box">
        Quiz
      </label>

      <input type="text" id="quiz_id_box" name="query_quiz_id" value="<%= @the_message.quiz_id %>">
    </div>

    <div>
      <label for="content_box">
        Content
      </label>

      <input type="text" id="content_box" name="query_content" value="<%= @the_message.content %>">
    </div>

    <div>
      <label for="role_box">
        Role
      </label>

      <input type="text" id="role_box" name="query_role" value="<%= @the_message.role %>">
    </div>

    <button type="submit">
      Update message
    </button>
  </form>
</article>

<hr>
